<!doctype>
<html>
  <head>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/rickshaw.min.js"></script>
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <link href="/static/css/rickshaw.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <h1>Timesuck</h1>
      <div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
      </div>
    </div>
    <script src="/static/js/graph.js"></script>
  </body>
</html>
